#comment {
    resize: none;
}

.bg-white {
    background-color: white;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.background-color-light {
  background-color: #606C38;
}
.background-color-dark {
  background-color: #ebf2fa3f
}